@tailwind base;
@tailwind components;
@tailwind utilities;

#content textarea {
  background: rgba(180, 166, 41) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF////zMyZ7OzZWeojMgAAADtJREFUeNp8yTEBAAAMw6Bs/kXXAbx08nnz5s2bN2/evHnz5s2bN2/evHnz5s2bN2/evHnz5s2bdwIMAJ/tAfACsNOXAAAAAElFTkSuQmCC") no-repeat bottom right;
}

input,
textarea {
  @apply focus:!border-transparent focus:!ring-transparent;
}

::-webkit-scrollbar {
  @apply h-[2px] w-[2px];
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-t from-transparent via-main to-transparent;
}
::-webkit-scrollbar-thumb:horizontal {
  @apply bg-gradient-to-l from-transparent via-main to-transparent;
}

#destroy a.close {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #34495e;
  opacity: 0.5;
  transition: opacity 200ms;
}
#destroy a.close:hover {
  opacity: 0.4;
}

body {
  background-color: #ecf0f1;
  color: #444;
}

#button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 16px 24px;
  border-radius: 1px;
  text-decoration: none;
  font-size: 24px;
  display: block;
  color: white;
  background-color: #34495e;
  text-align: center;
  font-weight: 100;
  transition: box-shadow 200ms;
  border-radius: 4px;
}
#button:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}
